@charset "utf-8";
@import "./output-css/normalize.css";
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "~font-awesome/css/font-awesome.min.css";

@font-face {
  font-family: 'noto-sans-scott';
  font-weight: 100;
  src: url('/assets/fonts/noto-sans-scott/NotoSansCJKkr-Thin.eot');
  src: url('/assets/fonts/noto-sans-scott/NotoSansCJKkr-Thin.eot') format('embedded-opentype'),
  url('/assets/fonts/noto-sans-scott/NotoSansCJKkr-Thin.woff') format('woff'),
  url('/assets/fonts/noto-sans-scott/NotoSansCJKkr-Thin.otf') format('truetype');
}
@font-face {
  font-family: 'noto-sans-scott';
  font-weight: 200;
  src: url('/assets/fonts/noto-sans-scott/NotoSansCJKkr-Light.eot');
  
  src: url('/assets/fonts/noto-sans-scott/NotoSansCJKkr-Light.eot') format('embedded-opentype'),
  url('/assets/fonts/noto-sans-scott/NotoSansCJKkr-Light.woff') format('woff'),
  url('/assets/fonts/noto-sans-scott/NotoSansCJKkr-Light.otf') format('truetype');
}
@font-face {
  font-family: 'noto-sans-scott';
  font-weight: 300;
  src: url('/assets/fonts/noto-sans-scott/NotoSansCJKkr-DemiLight.eot');
  src: url('/assets/fonts/noto-sans-scott/NotoSansCJKkr-DemiLight.eot') format('embedded-opentype'),
  url('/assets/fonts/noto-sans-scott/NotoSansCJKkr-DemiLight.woff') format('woff'),
  url('/assets/fonts/noto-sans-scott/NotoSansCJKkr-DemiLight.otf') format('truetype');
}
@font-face {
  font-family: 'noto-sans-scott';
  font-weight: 400;
  src: url('/assets/fonts/noto-sans-scott/NotoSansCJKkr-Regular.eot');
  src: url('/assets/fonts/noto-sans-scott/NotoSansCJKkr-Regular.eot') format('embedded-opentype'),
  url('/assets/fonts/noto-sans-scott/NotoSansCJKkr-Regular.woff') format('woff'),
  url('/assets/fonts/noto-sans-scott/NotoSansCJKkr-Regular.otf') format('truetype');
}
@font-face {
  font-family: 'noto-sans-scott';
  font-weight: 500;
  src: url('/assets/fonts/noto-sans-scott/NotoSansCJKkr-Medium.eot');
  src: url('/assets/fonts/noto-sans-scott/NotoSansCJKkr-Medium.eot') format('embedded-opentype'),
  url('/assets/fonts/noto-sans-scott/NotoSansCJKkr-Medium.woff') format('woff'),
  url('/assets/fonts/noto-sans-scott/NotoSansCJKkr-Medium.otf') format('truetype');
}
@font-face {
  font-family: 'noto-sans-scott';
  font-weight: 700;
  src: url('/assets/fonts/noto-sans-scott/NotoSansCJKkr-Bold.eot');
  src: url('/assets/fonts/noto-sans-scott/NotoSansCJKkr-Bold.eot') format('embedded-opentype'),
  url('/assets/fonts/noto-sans-scott/NotoSansCJKkr-Bold.woff') format('woff'),
  url('/assets/fonts/noto-sans-scott/NotoSansCJKkr-Bold.otf') format('truetype');
}
@font-face {
  font-family: 'noto-sans-scott';
  font-weight: 900;
  src: url('/assets/fonts/noto-sans-scott/NotoSansCJKkr-Black.eot');
  src: url('/assets/fonts/noto-sans-scott/NotoSansCJKkr-Black.eot') format('embedded-opentype'),
  url('/assets/fonts/noto-sans-scott/NotoSansCJKkr-Black.woff') format('woff'),
  url('/assets/fonts/noto-sans-scott/NotoSansCJKkr-Black.otf') format('truetype');
}

/* reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
main, article, aside, details,   figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
ul {
	list-style: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* 기본 설정 */
*, *::before, *::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  margin: 0;
  color: #181818;
  font-family: 'noto-sans-scott', "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  text-align: left;
}
/* display 속성 */
.is-hidden {
  display: none !important;
}
a {
  text-decoration: none;
}
.mat-dialog-container {
  background-color: #f4f5f7;
}